html {
    box-sizing: border-box;
    font-size: 12px
}

*, :after, :before {
    box-sizing: inherit
}

body, h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin: 0;
    padding: 0;
    font-weight: 400
}

ol, ul {
    list-style: none
}

img {
    max-width: 100%;
    height: auto
}

::selection {
    color: #FED525;
    background-color: #1e1e1e
}

::-moz-selection {
    color: #FED525;
    background-color: #1e1e1e
}

#nav-lang {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FED525;
    display: none;
}

#nav-lang ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    background-color: #FED525;
}

#nav-lang ul li {
    display: inline-block;
    background-color: #FED525;
}

#nav-lang a {
    display: block;
    padding: 0 20px;
    color: #1e1e1e;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    font-family: "Reem Kufi",sans-serif;
    font-weight: 600;
}

#nav-lang a:hover {
    background-color: #1e1e1e !important;
    color: #FED525 !important;
}

#nav-lang a label {
    cursor: pointer;
}

#nav-lang ul li a i.fa-angle-down {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    float: right;
}

#nav-lang ul ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    text-align: right;
}

#nav-lang ul li:hover > ul {
    display: inherit;
}

#nav-lang ul ul li {
    width: 300px;
    float: none;
    display: list-item;
    position: relative;
}

main {
    background-color: #FED525;
    color: #1e1e1e
}

.icons-social a, .icons-social button {
    background-color: #FED525;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    color: #1e1e1e;
    text-decoration: none;
}

.icons-social a svg path {
    fill: #1e1e1e
}

body, html {
    font-family: Roboto,sans-serif;
    background-color: #FED525
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 15px;
    text-align: center
}

main > header {
    margin: 2rem 0
}

main > article > .intro {
    font-family: 'Reem Kufi',sans-serif;
    font-size: 3.75em;
    font-weight: 600
}

main mark {
    color: #FED525 !important;
    background-color: #1e1e1e;
    padding: 0 15px;
}

main > article > .tagline {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 400
}

.tagline > mark {
    padding: 5px 10px;
    font-family: 'Reem Kufi',sans-serif
}

.icons-social a, header a {
    display: inline-block
}

.icons-social a:active, header a:active, .icons-social button:active {
    transform: translateY(5px)
}

.icons-social i {
    font-size: 3em;
    padding: 10px
}

.icons-social i.fa-envelope-square {
    font-size: 6em;
}

@media (max-width:575px) {
    main > header > a > img {
        width: 80px
    }
}

@media (min-width:576px) {
    html {
        font-size: 14px
    }

    main > article > .intro > * {
        white-space: nowrap
    }

    main > header > a > img {
        width: 100px
    }
}

@media (max-width:767px) {
    #nav-lang a {
        font-size: 12px;
        line-height: 40px;
    }

    #nav-lang ul ul {
        top: 40px;
    }

    #nav-lang ul ul li {
        width: 175px;
    }

    #nav-lang ul li a i.fa {
        margin-top: 13px;
    }

    main > header {
        margin: 0rem 0 !important;
    }
}

@media (min-width:768px) {
    html {
        font-size: 16px
    }

    main > header > a > img {
        width: 115px
    }
}

@media (min-width:992px) {
    html {
        font-size: 18px
    }

    main > header > a > img {
        width: 130px
    }
}

@media (min-width:1200px) {
    html {
        font-size: 20px
    }

    main > header > a > img {
        width: 150px
    }
}